<template>
  <div class="base" :class="{ work: isWorking, rest: !isWorking }">
    <button @click="start">Start</button>
    <button @click="stop">Pause</button>
    <button @click="reset">Reset</button>
    <h1 v-if="!this.isFinished()">Round {{ currentRound }} / {{ rounds }}</h1>
    <h1 v-else>Finished Working</h1>
    <h2 v-if="!this.isWorking">Rest</h2>
    <h2 v-else>Work</h2>
    <h1>
      {{ formattedElapsedTime }}
    </h1>
    <h3 v-if="this.isOneMoreMinute">One more Minute</h3>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "App",
  data() {
    return {
      elapsedTime: 25 * 60 * 1000,
      timer: undefined,
      date: undefined,
      workTime: 25 * 60 * 1000,
      restTime: 5 * 60 * 1000,
      isWorking: true,
      rounds: 4,
      currentRound: 1,
      isOneMoreMinute: false,
      isPrepare: false,
      prepareTime: 11 * 1000,
    };
  },
  computed: {
    formattedElapsedTime() {
      const date = new Date(null);
      date.setSeconds(this.elapsedTime / 1000);
      const utc = date.toUTCString();
      return utc.substr(utc.indexOf(":") + 1, 6);
    },
  },
  methods: {
    start() {
      if (!this.timer) {
        this.timer = setInterval(() => {
          if (!this.isFinished() && this.elapsedTime > 0) {
            if (this.elapsedTime == 60 * 1000) {
              this.playSound("oneMoreMinute.mp3");
              this.isOneMoreMinute = true;
            }
            this.elapsedTime -= 1000;
          } else {
            this.isOneMoreMinute = !this.isOneMoreMinute;
            if (this.isWorking) {
              this.playSound("break.mp3");
              this.elapsedTime = this.restTime;
            } else {
              this.playSound("work.mp3");
              this.elapsedTime = this.workTime;
              this.currentRound = this.currentRound + 1;
            }
            this.isWorking = !this.isWorking;
          }
          if (this.isFinished()) {
            this.stop();
          }
        }, 1000);
      }
    },
    stop() {
      clearInterval(this.timer);
    },
    isFinished() {
      return this.rounds < this.currentRound;
    },
    reset() {
      this.elapsedTime = this.workTime;
      this.currentRound = 1;
      this.isWorking = true;
      this.isOneMoreMinute = false;
    },
    playSound(path) {
      if (path) {
        var audio = new Audio("./sounds/" + path);
        audio.play();
      }
    },
  },
};
</script>
<style scoped>
.base {
  padding: 3em;
}
.work {
  background-color: #b8b8b8;
}
.rest {
  background-color: #a1b56c;
}
button {
  background-color: #dc9656; /* Green */
  border: none;
  color: white;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 0.5em;
}
</style>
